/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url('https://rsms.me/inter/inter.css'); */

html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #182987;
  color: white;
}

/* a {
  all: unset;
  cursor: pointer;
} */

.main-canvas {
  display: grid;
  padding: 0.5em;
  gap: 0.5em;
  grid-template-rows: auto 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 0.5em;
  overflow-x: auto;
}

.external-link {
  height: 1.3em;
  width: auto;
  color: white;
}

.label {
  margin: 0;
  font-size: 2em;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 0;
}

.label2 {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4eacd8;
  color: white;
  height: 42px;
  border-radius: 10px;
  padding: 0em 2em;
  white-space: pre;
}

.back {
  display: flex;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #4eacd8;
  text-align: center;
  border-radius: 14px;
}

.back::before {
  content: '';
  color: #fff;
  border-style: solid;
  border-color: transparent;
  border-width: 0.8em 1em;
  border-right-color: currentColor;
  border-left: 0;
  transform: translateX(-15%);
  position: absolute;
  margin: auto;
}

.red {
  background: red;
}
.floatingbox {
  position: absolute;
  background-color: #ffff0040;
  border-radius: 10px;
  color: #ee0000;
  width: fit-content;
  height: fit-content;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 4em;
}
.loading {
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}
.dontdisplay {
  display: none;
}

.contributor-button {
  /* reset button style */
  all: unset;
  cursor: pointer;
  padding: 8px;
  margin: -8px;
  pointer-events: auto;
}

.contributor-container {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  padding: 64px 32px 32px 32px;
}

.contributor {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: fit-content;
  overflow-y: auto;
  pointer-events: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 4px;
  font-size: 1.8em;
  position: relative;
}

.contributor-close-button {
  all: unset;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0.5em;
  margin: -0.5em;
}

@media (max-width: 1200px) {
  .main-canvas {
    padding: 0.5em;
    gap: 0.5em;
  }
  .label {
    padding-top: 4px;
    font-size: 1.5em;
  }
  .button {
    height: 38px;
    border-radius: 10px;
    padding: 0em 2em;
  }
  .external-link {
    height: 1.2em;
  }
}

@media (max-width: 800px) {
  .main-canvas {
    padding: 0.5em;
  }
  .label {
    padding-top: 8px;
    font-size: 1em;
  }
  .button {
    height: 38px;
    border-radius: 10px;
    padding: 0em 1.25em;
    font-size: 0.7em;
  }
  .back {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 600px) {
  .label {
    display: none;
  }
  .label2 {
    display: block;
    margin: 0;
    font-size: 0.5em;
  }
  .button {
    height: 22px;
    border-radius: 5px;
    padding: 0em 0.8em;
    font-size: 0.7em;
  }
  .main-canvas {
    padding: 0.5em;
    grid-template-rows: auto auto 1fr;
  }
  .nav {
    grid-template-columns: auto auto auto auto;
  }
  .back {
    width: 38px;
    height: 38px;
  }
}
